*{
margin: 3px;
padding: 3px;

}
body
{
	font-style:;
	background-image: url(image/background.jpg);
	background-size: cover;
	
}
button{
	border: 3px solid #707497;
	background-color: #5aabfd;
	color: white;
	border-radius: 10px;
	height: 10%;
	width: 100%;
}
.main
{
	background-color: white;
	border-radius: 10px;
	border: 5px solid #71719d;
	width: 56%;
    margin: auto;
    margin-top: 70px;
    outline: 2px solid white;

}
.first-block {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

.popup
{
	border: 20px solid transparent;
	border-image: url("image/pop-up.png");
	border-image-slice: 150;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.popin {
	border: 2px solid red;
	border-style: dashed;
	margin: 0px;
	padding: 0px;
}

.second-block {
	display: flex;
	flex-direction: row;	
}
h3{
	color: red;


}
.icon{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.icon-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	position: relative;
    bottom: 100px;
}
.icon-wrapper img{
	width: 25px;

}
.line-under-icon img{
	width: 90%;
	bottom: 100px;
	position: relative;
}
.left{
	width: 150%;
	color: #71719d;
}

.text2{
	text-indent: 20px;
	text-align: justify;
}
.qr img {
	width: 110px;
}


@media screen and (max-width:750px){
	.main {
	    width: 550px;
	    margin-left: 25px;
	    margin-top: 70px;
	    justify-content: center;
	}

	.popup{
		width: 200px;
		font-size: 16px;
		margin-left: 30px;
	}
	.icon-wrapper img {
    width: 25px;
    bottom: 85px;
	}
	.qr img {
		width: 130px;
}
	button{
		width: 180px;
		font-size: 16px;
		margin-right: 10px;
	}
	.text1{
		font-size: 22px;
	}
	.first-block {
    justify-content: center;
    position: relative;
	}
	.left {
    width: 33%;
	}

	.icon {
	    display: flex;
	    flex-direction: column;
	    width: 33%;
	}
}

@media screen and (max-width:600px){
	.main {
	    width: 400px;
	    margin-left: 25px;
	    margin-top: 70px;
	}
	.first-block {
    justify-content: center;
    position: relative;
	}
	.popup {
	width: 200px;
    font-size: 16px;
    margin-left: 0px;
	}
.icon-wrapper {
	width: 75px;
    height: 125px;
    margin-left: -25px;
    margin-top: 0px;
}
.icon {
	margin: 10px;
    padding: 0px;
    margin-left: 50px;
    margin-top: 8px;
}
.line-under-icon  img{

    margin-top: 0px;
    width: 100px;
    margin-left: -50px;
}
button {
	width: 130px;
    margin-left: -10px;
}
.text1 {
	font-size: 20px;
}
.text2 {
	width: 150px;
	margin: 0px;
	padding: 0px;
}
.second-qr img {
	width: 80px;
	margin: 0px;
	padding: 0px;
}
.qr img {
	width: 110px;
	margin: 0px;
	padding: 0px;
}
}

@media screen and (max-width:475px){

.main {
	    width: 320px;
	    margin-left: 25px;
	    margin-top: 70px;
	}
	.first-block {
    justify-content: center;
    position: relative;
	}
	.left {
		margin-left: 0px;
	}
button{
	height: 90px;
    width: 120px;
    margin: 0px
	}
.popup{
	margin-left: 30px;
	width: 60px;
	font-size: 10px;
}
.first-block{
	margin-left: 5px;
}
.icon {
	    display: flex;
	    flex-direction: column;
	    	 	}
.icon img {
	width: 20px;
	margin: 0px;
}
.icon-wrapper {
	margin-left: -45px;
    margin-top: 20px;
}

.line-under-icon  img{
	width: 70px;
    margin-top: -30px;
    margin-left: -50px
}
.text1 {
	margin-top: 20px;
    font-size: 20px;
}
.qr img {
	width: 80px;
	 margin: 0px;
    padding: 0px;
}
.text2 {
	width: 120px;
	margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.second-qr img {
	width: 80px;
	height: 80px;
	margin: 0px;
    padding: 0px;
}

}