body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button {
  width: 100px;
  height: 50px;
  margin-left: 100px;
  font-size: 16px;
  border-radius: 50px;
  background: radial-gradient(#4CCEB2, #2F8FD8);
}